/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



 
 .scroll{
  
  display:  inline-block;
  color: #fff;
  text-decoration:  none;
  background-color: #b22222;
  position:  relative;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  cursor:pointer;
}

.scroll::before {
  content:  '';
  width: 20px;
  height: 20px;
  display:  block;
  border-top: solid 2px;
  border-right: solid 2px;
  transform: rotate(-45deg);
  position:  absolute;
  top: 10px;
  bottom:  0;
  left:  0;
  right:  0;
  margin:  auto;
}


.twt-content{
  margin: 0 auto;
}

.user-info{
  
}


.h-n{
  float: right;
}


.pagination{
 
}

.pagination:hover{
}
.prf-img{
      height: 190px;
      width: 190px;
      border-radius: 50%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
}







